.eliminar{
    background-color: none;
    width: 4rem;
    height: 2rem;
font-size: 1rem
};
.pEliminar{
    font-size: 1rem;
}
.fila-main{
    height: 1rem;
}

.item,
.price,
.eliminar,
.product
{
    font-size: 0.8rem;
}
.n1,
.n2,
.n3{
font-size: 0.7rem;
height: 1rem;

}