.eliminar{
    background-color: none;
    width: 4rem;
    height: 2rem;
font-size: 1rem
};
.pEliminar{
    font-size: 1rem;
}
.fila-main{
    height: 1rem;
}

.item,
.price,
.eliminar,
.product
{
    font-size: 0.8rem;
}
.item-number,
.item-name,
.item-price{
font-size: 0.7rem;
height: 1rem;

}
.item-name{
    width: 8rem ;
}
.item-price{
    width: 4rem;
}
.button-eliminar{
    width: 3rem;
}
.item-number{
    width: 2.2rem;
}
.total-enviar{
    text-align: center;
}