.name{
    display: flex;
    text-align: center;
    justify-content: center;
   
}
.nombre-input{
    width: 10rem;
    margin-right: 4rem;
  height: 2rem;
}
.mesa-input{
    width: 4rem;
    height: 2rem;

    }
    