.div-navbar {
    background-color: #dab88b;
    height: 5rem;
  }
  .navbar {
    height: 100%;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
} 
  .links {
    border-color: black;
    background-color: #dab88b;
    height: 5rem;
    width: 8rem;
    font-size: 1.4rem;
    text-align: center;
    align-items: center;
    align-content: flex-start;
    align-self: start;
    position: relative;
    line-height: 5rem;
    box-sizing: border-box;
    color: black;
    display: inline-block;
    border-style: solid;
  }
  .mesero-boton,
  .chef-boton,
  .pedidos-boton {
    border-bottom: 1px;
    border-color: black;
  }
  .img-logo {
    height: 4rem;
    width: 8rem;
  }
  .navbar li {
    display: inline-block;
    text-align: center;
  }
  .tabs-productos{
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
    border-color: black;
    border-radius: 2px;
  }
  .tabs-productos:active{
    background-color: var(--colorYellow);
    transform: scale(0.98);
    border-color: black;
  }
  
  .active-tabs-productos  {
    background-color: #42A5FF;
  }